<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ table_name }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Company Name</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                {% for value in entry %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>